.ring-offset-background {
  color: white;
  border: 2px solid white;
}

/* NavLink.module.css */

/* .nav .a {
  padding: 10px 16px;
  text-decoration: none;
  color: #6b7280; 
  font-weight: 500;
  transition: color 0.3s ease;
  border-radius: 6px;
  display: inline-block;
}

.nav .a:hover {
  color: #2563eb; 
  background-color: #f3f4f6; 
}

.nav .active {
  color: #2563eb;
  font-weight: 700;
  background-color: #e0f2fe; 
  border-left: 4px solid yellow;
} */
